
.RaterWrapper {
  width: 100vw;
  height: 100vh;
  border-radius: 2vmax;

  box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
/*  filter: blur(10px);*/
}

.icon{
  width: 15vmax;
}

.text{
  width: 80%;
  height: 3vmax;
  opacity: 0.7;
  border-radius: 9px;
  font-size: 20px;
}

.RaterContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  .invite{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
    width: 100%;
    height: 12vh;
    margin: 0;
  }
}

.rotate {
  height: 0;
  overflow: hidden;
  transition: opacity 1.5s ease-in-out;
}

.noRotate {
  display: block;
  transition: opacity 1.5s ease-in-out;
}

.thanksMessage{
  line-height: 14;
}

.visible{
  display: block;
  transition: opacity 1.5s ease-in-out;
  opacity: 1;
}

.invisible{
  height: 0;
  overflow: hidden;
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}

.sendButton{
  height: 3vmax;
  width: 50%;
  background-color: darkmagenta;
  color: white;
  border-radius: 1vmax;
  margin: 2vmax auto auto;
  line-height: 2.3;
  opacity: 0.8;

  &:hover{
    background-color: magenta;
    cursor: pointer;
  }

  &:active{
    width: 48%;
    margin: 2.5vmax auto auto;
    height: 2.5vmax;
  }


}
